{% extends 'general.html' %}
{% block title %}Add Pay - Specie{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<div class="medium-12 large-12 columns">
    <form class="add-bill" method="post" action="/add-bill">
        <h2>Please Add Your Bill</h2>
        <hr>
        <div class="row">
            <div class="small-12 medium-10 large-8 columns">
                <label>What is your bills name?</label>
                <input type="text" placeholder="Please enter the bill name." name="bill_name" min="0" required/>
            </div>
            <div class="small-12 medium-10 large-8 columns">
                <label>What is the amount due?</label>
                <input type="number" placeholder="Please enter a number." name="amount" step="0.01" min="0" required/>
            </div>
            <div class="small-12 medium-10 large-8 columns">
                <label>When did you receive the most recent bill?</label>
                <input type="date" placeholder="Please enter a date." name="billing_date" required/>
            </div>
            <div class="small-12 medium-10 large-8 columns">
                <label>When was that bill due?</label>
                <input type="date" placeholder="Please enter a date." name="due_date" required/>
            </div>
            <div class="large-12 columns">
                <input type="submit" class="button expanded large" name="add_bill" value="Add Bill">
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}